nav{
	width: 100%;
	height: 60px;
	background: #344051;
}
.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
}
.menu{
	float: left;
	padding-left: 432px;
}
.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;

}
.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url("../img/boy.png") 90% 100%/auto 85% no-repeat, url("../img/fon.jpg") center/cover no-repeat;
}
.title_container{
	float: left;
	margin: 404px 0px 0px 404px;
	color: #2c384a;
}
.title_container h1{
	float: left;
	margin-top: -111px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}
.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}
.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 41px 14px 0px 14px
}
.aboutme{
	float: left;
	padding-left: 388px;
	margin-top: 201px;
    text-transform: uppercase;
    font-weight: bold;
	width: 100%;
	font-size: 22px;
	height: calc(100% - 60px);
}
.cherta{
	float: left;
	margin-top: 22px;
  margin-left: 404px;
}
.andrey{
	float: left;
	margin-left: -128px;
	margin-top: 68px;
	height: 100%;

}
.lorem1{
	margin-top: 541px;
	margin-left: 108px;
	font-size: 91%;
	color: 8f949c;
}
.lorem2{
	float: left;
	margin-top: 1%;
	text-align: center;
	padding-left: 108px;
	font-size: 91%;
	color: 8f949c;
}
.knopka{
	float: left;
	padding-left: 291px;
	margin-top: -157px;
}
.whatican{
	float: left;
	padding-left: 1108px;
	margin-top: 44px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 128%;	

}
.cherta2{
	margin-top: 82px;
	margin-left: -100px;
}
.fon2{
	width: 100%;
	height: calc(100% - 490px); 
	background: url("../img/computer.png") 651px 50%/auto 40px no-repeat, url("../img/znak.png") 926px 50%/auto 40px no-repeat,
	url("../img/raketa.png") 1201px 50%/auto 40px no-repeat, url("../img/gramafon.png") 1476px 50%/auto 40px no-repeat,
	url("../img/fon2.jpg") no-repeat center/cover;
	margin-top: 196px;
	margin-left: -37%;
}
.item_ability1{
	margin-left: -601px;
	font-size: 65%;
	margin-top: 128px;
	text-align: center;
}
.web_design{
	color: #cf7600;
	font-size: 144%;
	padding-left: 48px;	
}
.item_ability2{
	float: left;
   padding-left: 837px;
   text-align: center;
    margin-top: -41px;
	font-size: 65%;
}
.razrabotka{
	color: #cf7600;
	font-size: 144%;
	padding-left: 54px;
}
.item_ability3{
	text-align: center;
	float: left;
	margin-left: 1107px;
	margin-top: -39px;
	font-size: 65%;
}
.CEO{
	color: #cf7600;
	font-size: 144%;
	padding-left: 55px;
}
.item_ability4{
	margin-left: 1402px;
	padding-bottom: 42px;
	margin-top: -41px;
	font-size: 65%;
}
.marketing{
	color: #cf7600;
	font-size: 144%;
	padding-left: 66px;
}
.cases{
	float: left;
	text-align: 906px;
	padding-left: 417px;
	margin-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
	width: 100%;
	height: calc(100% - 60px);
	font-size: 22px;
}
.cherta3{
	padding-left: 424px;
	margin-top: 32px;
}
.lorem3{
	padding-left: 12%;
	margin-top: 32px;
	font-size: 111%;
}
.fon3{
	margin-left: -28%;
	margin-top: 4%;
}
.calculator{
	margin-left: 333px;
	font-weight: bold;
	font-size: 244%;
}
.tip_saita1{
font-size: 188%;
text-align: left;
text-transform: uppercase;
margin-top: 3%;
}
.tips123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
	margin-left: 3px;
	margin-top: 1%;
}
.design{
font-size: 188%;
text-align: left;
text-transform: uppercase;
margin-top: 3%;
}
.design123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
	margin-left: 3px;
	margin-top: 1%;
}
.adaptive{
font-size: 188%;
text-align: left;
text-transform: uppercase;
margin-top: 3%;
}
.adaptive123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
	margin-left: 3px;
	margin-top: 1%;
}
.poditog{
	width: 50%;
	margin-top: 2%;
}
.srok{
	margin-top: 1%;

}
.price{
	margin-top: 1%;
}
.stata{
	float: left;
	padding-left: 727px;
	margin-top: 41px;
	margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: bold;
	font-size: 22px;
	width: 100%;
}
.cherta4{
	padding-left: 301px;
	margin-bottom: 24%;
}
.fon4{
    width: 90%;
	height: calc(100% - 490px); 
	background: url("../img/smile.png") 421px 221px/auto 55px no-repeat, url("../img/skobki.png") 722px 221px/auto 55px no-repeat,
	url("../img/galochka.png") 1003px 221px/auto 55px no-repeat, url("../img/kubok.png") 1304px 221px/auto 55px no-repeat,
	url("../img/fon4.jpg") no-repeat center/cover;
		margin-top: 196px;
	margin-left: -27%;
}
.number1{
font-size: 144%;
float: left;
text-align: center;
padding-left: 341px;
margin-top: 16%;
font-weight: bold;
}
.number2{
font-size: 144%;
float: left;
text-align: center;
padding-left: 701px;
font-weight: bold;
margin-top: -8%;
}
.number3{
	float: left;
text-align: center;
font-size: 144%;
padding-left: 947px;
font-weight: bold;
margin-top: -139px;
}
.number4{
	float: left;
text-align: center;
font-size: 144%;
padding-left: 1268px;
font-weight: bold;	
padding-bottom: 141px;
margin-top: -137px;
}
.top_text{
	float: left;
	padding-left: 17%;
	margin-top: 41px;
	margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
	width: 100%;
	height: calc(100% - 60px);
}
.cherta5{
	padding-left: 339px;
	margin-top: 1%;
}
.topandrewbrown{
	text-align: center;
	margin-top: 3%;
	margin-left: -5%;
}
.toplorem{
	text-align: center;
	margin-top: 4%;
	margin-left: -60%;
}
.mihail{
	text-align: center;
	margin-top: 3%;
	margin-left: -61%;
}
.contacts{
	float: left;
	padding-left: 737px;
	margin-top: 88px;
	margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
	width: 100%;
	height: calc(100% - 60px);
	color: #fff;
}
.cherta6{
	padding-left: 811px;
	margin-top: 1%;
}
.lorem7{
	text-align: center;
	margin-top: 2%;
	margin-left: -6%;
	color: #fff;
}
.fon5{
    width: 100%;
	height: calc(100% - 490px); 
	background: url("../img/geo.png") 566px 256px/auto 36px no-repeat, url("../img/convert.png") 852px 256px/auto 36px no-repeat,
	url("../img/phone.png") 1181px 256px/auto 36px no-repeat,
	url("../img/fon5.jpg")  no-repeat center/cover ;
	margin-top: 4%;
	margin-left: -25%;
}
.geoloc{
    margin-left: 519px;
	margin-top: 150px;
	color: #fff;
}
.pochta{
	margin-left: 821px;
	margin-top: -24px;
	color: #fff;
}
.telephone{
	margin-left: 1156px;
	margin-top: -24px;
	color: #fff;
}
.textmessage{
	float: left;
	padding-left: 755px;
	margin-top: 88px;
	margin-bottom: 430px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
	width: 100%;
	height: calc(100% - 60px);
	color: #fff;
}
.name{
	float: left;
	margin-top: -398px;
	margin-left: 619px;
	
}
.email{
	float: left;
	margin-top: -398px;
	margin-left: 888px;
}
textarea{
	float: left;
	margin-top: -262px;
	margin-left: 630px;
	height: 90px;
	width: 478px;
}
.send{
	padding-top: -100px;
padding-left: 777px; 

}
.map{
	float: left;
padding-top: 0%;
	
}