nav{
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
}
.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	float: left;
animation: coming 3s ease;
}
@keyframes coming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.main{
	width: 100%;
	height:100%;
	background: url("../img/boy.png") 90% 100%/auto 85% no-repeat, url("../img/fon.jpg") center/cover no-repeat;
}
.menu li {
	float: left;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	animation: topshift 0.4s ease forwards;
	opacity: 0;
}
@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}
/**.menu li: nth-child(2){
	animation-delay: 0.4s;
}
.menu li: nth-child(3){
	animation-delay: 0.8s;
}
.menu li: nth-child(4){
	animation-delay: 1.2s;
}
.menu li: nth-child(5){
	animation-delay: 1.6s;
}
.menu li: nth-child(6){
	animation-delay: 2s;
}**/
.menu li a{
	margin-right: 50px;
	float: left;
	transition: all 0,4s;
	color: white;
	transform: scale(1);
	text-decoration: none;
}
/**.menu li a:visited{
	color: white;
}
.menu li a:hover{
	color: green;
	display: inline-block;
}
.menu li a:active{
	transform: scale(1.9);
}
}**/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s infinite;
}
/**@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}**/
.title_container{
	float: left;
    width: 100%;
    text-align: center;
	color: #2c384a;
	animation: titlemove 1s ease forwards;
}
/**@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -500px;
	}
	to{
		opacity: 1;
		margin-left: 0px;
	}
}**/
.title_container h1{
	
	font-size: 72px;
	font-weight: bold;
}
.title_container h4{
	
	font-size: 22px;
	color: #79818d;
}
.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 10px 16px 10px 14px;
	margin-top: 40px;
	transition: all 0.4s;
	transform: scale(1);
}
.title_container input:hover{
background: blue;
color: white;
}
.title_container input:active{
transform: scale(1.4);
}
.aboutme{
    text-transform: uppercase;
    font-weight: bold;
	font-size: 22px;
}
.fon2{
	width: 100%;
	height: 100%;
	background: url("../img/fon2.jpg") no-repeat;
}
.cases{
	 text-transform: uppercase;
	}
.fon3{
	margin-left: -24%;
}
.tip_saita1{
font-size: 188%;
text-align: left;
text-transform: uppercase;
}
.tips123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
}
.design{
font-size: 188%;
text-align: left;
text-transform: uppercase;
}
.design123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
	}
.adaptive{
font-size: 188%;
text-align: left;
text-transform: uppercase;
}
.adaptive123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
	}	