nav{
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
}
.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
animation: coming 3s ease;
}
@keyframes coming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.menu{
	float: left;
	padding-left: 432px;
}
.menu li {
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	animation: topshift 0.4s ease forwards;
	opacity: 0;
}
@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}
.menu li: nth-child(2){
	animation-delay: 0.4s;
}
.menu li: nth-child(3){
	animation-delay: 0.8s;
}
.menu li: nth-child(4){
	animation-delay: 1.2s;
}
.menu li: nth-child(5){
	animation-delay: 1.6s;
}
.menu li: nth-child(6){
	animation-delay: 2s;
}
.menu li a{
	transition: all 0,4s;
	color: white;
	transform: scale(1);
}
.menu li a:visited{
	color: white;
}
.menu li a:hover{
	color: green;
	display: inline-block;
}
.menu li a:active{
	transform: scale(1.9);
}
.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url("../img/boy.png") 90% 100%/auto 85% no-repeat, url("../img/fon.jpg") center/cover no-repeat;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.title_container{
	float: left;
	margin: 404px 0px 0px 404px;
	color: #2c384a;
	animation: titlemove 1s ease forwards;
}
@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -500px;
	}
	to{
		opacity: 1;
		margin-left: 404px;
	}
}
.title_container h1{
	float: left;
	margin-top: -111px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}
.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}
.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 10px 16px 10px 14px;
	margin-top: 40px;
	transition: all 0.4s;
	transform: scale(1);
}
.title_container input:hover{
background: blue;
color: white;
}
.title_container input:active{
transform: scale(1.4);
}
.aboutme{
	float: left;
	padding-left: 388px;
	margin-top: 201px;
    text-transform: uppercase;
    font-weight: bold;
	width: 100%;
	font-size: 22px;
}
.aboutme:hover{
	margin-bottom: 10px;
}
.cherta{
	float: left;
	margin-top: 22px;
  margin-left: 404px;
}
.andrey{
	float: left;
	margin-left: -128px;
	margin-top: 68px;
	height: 100%;
}
.andrey:hover{
	background-color: red;
}
.lorem1{
	margin-top: 541px;
	margin-left: 108px;
	font-size: 91%;
	color: 8f949c;
	animation: lorem1 11s ease forwards;
}

@keyframes lorem1{
	from{
		opacity: 0;
		margin-left: 400px;
	}
	to{
		opacity: 1;
		margin-left: 0px;
	}
}
.lorem2{
	margin-top: 1%;
	padding-left: 108px;
	font-size: 91%;
	color: 8f949c;
	animation: lorem2 8s ease forwards;
}
@keyframes lorem2{
	from{
		opacity: 0;
		margin-right: 0px;
	}
	to{
		opacity: 1;
		margin-right: 100px;
	}
}
.knopka{
	float: left;
	padding-left: 291px;
	margin-top: -157px;
}
.whatican{
	float: left;
	padding-left: 1108px;
	margin-top: 44px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 128%;	
}
.whatican:first-letter{
	color: red;
	font-size: 30px;
}
.cherta2{
	margin-top: 82px;
	margin-left: -100px;
}
.fon2{
	width: 100%;
	height: calc(100% - 490px); 
	background: url("../img/computer.png") 651px 50%/auto 40px no-repeat, url("../img/znak.png") 926px 50%/auto 40px no-repeat,
	url("../img/raketa.png") 1201px 50%/auto 40px no-repeat, url("../img/gramafon.png") 1476px 50%/auto 40px no-repeat,
	url("../img/fon2.jpg") no-repeat center/cover;
	margin-top: 196px;
	margin-left: -37%;
}
.item_ability1{
	margin-left: -601px;
	font-size: 65%;
	margin-top: 128px;
	text-align: center;
}
.web_design{
	color: #cf7600;
	font-size: 144%;
	padding-left: 48px;	
}
.item_ability2{
	float: left;
   padding-left: 837px;
   text-align: center;
    margin-top: -41px;
	font-size: 65%;
}
.razrabotka{
	color: #cf7600;
	font-size: 144%;
	padding-left: 54px;
}
.item_ability3{
	text-align: center;
	float: left;
	margin-left: 1107px;
	margin-top: -39px;
	font-size: 65%;
}
.CEO{
	color: #cf7600;
	font-size: 144%;
	padding-left: 55px;
}
.item_ability4{
	margin-left: 1402px;
	padding-bottom: 42px;
	margin-top: -41px;
	font-size: 65%;
}
.marketing{
	color: #cf7600;
	font-size: 144%;
	padding-left: 66px;
}
.cases{
	float: left;
	text-align: 906px;
	padding-left: 417px;
	margin-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
	width: 100%;
	height: calc(100% - 60px);
	font-size: 22px;
}
.cases:hover{
	margin-bottom: 10px;
}
.cherta3{
	padding-left: 424px;
	margin-top: 32px;
}
.lorem3{
	padding-left: 12%;
	margin-top: 32px;
	font-size: 111%;
	animation: lorem3 4s;
}
@keyframes lorem3{
	from{
		opacity: 0;
		margin-left: 140px;
	}
	to{
		opacity: 2;
		margin-left: 50px;
	}
}
.fon3{
	margin-left: -28%;
	margin-top: 4%;
}
.calculator{
	margin-left: 333px;
	font-weight: bold;
	font-size: 244%;
}
.calculator:hover{
	transform: scale(1,2);
	color: green;
}
.tip_saita1{
font-size: 188%;
text-align: left;
text-transform: uppercase;
margin-top: 3%;
}
.tip_saita1:active{
	transform: scale(1,2);
	color: orange;
	}
.tips123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
	margin-left: 3px;
	margin-top: 1%;
}
.design{
font-size: 188%;
text-align: left;
text-transform: uppercase;
margin-top: 3%;
}
.design:hover{
	transform: scale(1,2);
	color: orange;
}
.design123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
	margin-left: 3px;
	margin-top: 1%;
}
.adaptive{
font-size: 188%;
text-align: left;
text-transform: uppercase;
margin-top: 3%;
}
.adaptive:hover{
	transform: scale(1,2);
	color: orange;
	font-size: 40px;
}
.adaptive123{
	width: 50%;
	height: 56px;
	background-color: #eeeeee;
	margin-left: 3px;
	margin-top: 1%;
}
.poditog{
	width: 50%;
	margin-top: 2%;
}
.srok{
	margin-top: 1%;

}
.price{
	margin-top: 1%;
}
.stata{
	float: left;
	padding-left: 727px;
	margin-top: 41px;
	margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: bold;
	font-size: 22px;
	width: 100%;
}
.stata:hover{
	margin-bottom: 15px;
	font-size: 24px;
}
.cherta4{
	padding-left: 301px;
	margin-bottom: 24%;
}
.fon4{
    width: 90%;
	height: calc(100% - 490px); 
	background: url("../img/smile.png") 311px 221px/auto 55px no-repeat, url("../img/skobki.png") 612px 221px/auto 55px no-repeat,
	url("../img/galochka.png") 893px 221px/auto 55px no-repeat, url("../img/kubok.png") 1194px 221px/auto 55px no-repeat,
	url("../img/fon4.jpg") no-repeat center/cover;
    background-attachment: fixed;
		margin-top: 196px;
	margin-left: -27%;
}
.number1{
font-size: 144%;
float: left;
text-align: center;
padding-left: 341px;
margin-top: 16%;
font-weight: bold;
}
.number2{
font-size: 144%;
float: left;
text-align: center;
padding-left: 701px;
font-weight: bold;
margin-top: -8%;
}
.number3{
	float: left;
text-align: center;
font-size: 144%;
padding-left: 947px;
font-weight: bold;
margin-top: -139px;
}
.number4{
	float: left;
text-align: center;
font-size: 144%;
padding-left: 1268px;
font-weight: bold;	
padding-bottom: 141px;
margin-top: -137px;
}
.top_text{
	float: left;
	padding-left: 17%;
	margin-top: 41px;
	margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
	width: 100%;
	height: calc(100% - 60px);
}
.top_text:active{
	margin-bottom: 21px;
	font-size: 33px;
}
.cherta5{
	padding-left: 339px;
	margin-top: 1%;
}
.topandrewbrown{
	text-align: center;
	margin-top: 3%;
	margin-left: -5%;
}
.toplorem{
	text-align: center;
	margin-top: 4%;
	margin-left: -60%;
	animation: texttoplorem 3s;
}
@keyframes texttoplorem{
	from{
		opacity: 0;
		margin-left: 540px;
	}
	to{
		opacity: 1;
		margin-left: 40px;
	}
}
.mihail{
	text-align: center;
	margin-top: 3%;
	margin-left: -61%;
}
.contacts{
	float: left;
	padding-left: 737px;
	margin-top: 88px;
	margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
	width: 100%;
	height: calc(100% - 60px);
	color: #fff;
}
.cherta6{
	padding-left: 811px;
	margin-top: 1%;
}
.lorem7{
	text-align: center;
	margin-top: 2%;
	margin-left: -6%;
	color: #fff;
}
.fon5{
    width: 100%;
	height: calc(100% - 490px); 
	background: url("../img/geo.png") 566px 256px/auto 36px no-repeat, url("../img/convert.png") 852px 256px/auto 36px no-repeat,
	url("../img/phone.png") 1181px 256px/auto 36px no-repeat,
	url("../img/fon5.jpg")  no-repeat center/cover ;
	margin-top: 4%;
	margin-left: -25%;
}
.geoloc{
    margin-left: 519px;
	margin-top: 150px;
	color: #fff;
}
.pochta{
	margin-left: 821px;
	margin-top: -24px;
	color: #fff;
}
.telephone{
	margin-left: 1156px;
	margin-top: -24px;
	color: #fff;
}
.textmessage{
	float: left;
	padding-left: 755px;
	margin-top: 88px;
	margin-bottom: 430px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
	width: 100%;
	height: calc(100% - 60px);
	color: #fff;
}
.name{
	float: left;
	margin-top: -398px;
	margin-left: 619px;
	
}
.email{
	float: left;
	margin-top: -398px;
	margin-left: 888px;
}
textarea{
	float: left;
	margin-top: -262px;
	margin-left: 630px;
	height: 90px;
	width: 478px;
}
.send{
	padding-top: -100px;
padding-left: 777px; 
}
.map{
	float: left;
padding-top: 0%;	
}
